@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body.home{
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    padding-bottom: 280px;
}

main {
    width: 100%;
    margin: 0 auto;
    padding-top: 32px;
}

header.top{
    background-color: rgb(85, 99, 226);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

h1.philippines{
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-size: 2em;
    font-weight: 700;
    color: yellow;
    text-shadow: 0px 0px 15px lightgoldenrodyellow;
}

nav.navbar{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    align-items: center;
}

a.tab1, a.tab2, a.tab3, a.tab4{
    font-family: "Poppins", sans-serif;
    font-size: 1.10em;
    font-weight: 500;
    color: white;
    margin-left: 2em;
    text-decoration: none;
    text-align: center;
    transition: 300ms;
}

a.tab1:hover{
    transform: scale(1.10);
    color: red;
    text-shadow: 0px 0px 30px yellow;
}
a.tab2:hover{
    transform: scale(1.10);
    color: red;
    text-shadow: 0px 0px 30px yellow;
}
a.tab3:hover{
    transform: scale(1.10);
    color: red;
    text-shadow: 0px 0px 30px yellow;
}
a.tab4:hover{
    transform: scale(1.10);
    color: red;
    text-shadow: 0px 0px 30px yellow;
}

div.homedisplay{
    position: relative;
    overflow: hidden;   
}

img.cebu{
    width: 100%;
    height: 100%;
    margin-top: -7.23%;
}

p.slogan{
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    font-weight: bold;
    background-color: rgba(250, 235, 215, 0.7);
    color: darkblue;
    text-shadow: 0px 0px 18px paleturquoise;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 15px;
}

/* ----- information sessions -----*/

h1.title1{
    margin-top: 3%;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    display: block;
}

div.infocontainer{
    width: 90%;
    margin: 3% 3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.infoleft, div.inforight{
    width: 50%;
    padding: 3% 3%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

img.flag{
    width: 100%;
    height: 100%;
    margin-right: 5%;
    border-radius: 15px;
    display: block;
    transition: 300ms;
}

img.flag:hover{
    transform: rotate(-3deg) scale(0.8);
    box-shadow: 0px 0px 30px yellow;
}

p.about{
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    text-align: justify;
}

div.infoleft2, div.inforight2{
    width: 50%;
    padding: 3% 3%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

img.filipinos{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: block;
    margin-left: 5%;
    transition: 300ms;
}

img.filipinos:hover{
    transform: rotate(3deg) scale(0.8);
    box-shadow: 0px 0px 30px blue;
}

/* --- Cards --- */

section.cardcontainer{
    display: inline-block;
    width: 100%;
    height: 100%;
}

h1.title2{
    margin-top: 3%;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    display: block;
}

div.card{
    width: 30%;
    height: 90%;
    background-color: rgb(85, 99, 226);
    float: left;
    margin: calc(10%/6);
    border-radius: 0.5em;
    overflow: hidden;
    position: relative;
    transition: 200ms;
    margin-bottom: 3%;
}

div.card:hover{
    box-shadow: 5px 5px 10px black;
    color: #3c72d8;
    transform: scale(1.01);
}


h2.cardfont{
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    color: white;
}

p.cardfont{
    font-family: "Manrope", sans-serif;
    font-weight: light;
    color: white;
}

img.cardimg{
    filter: blur(2px) grayscale(100);
    width: 100%;
    height: 50%;
}
img.cardimg:hover{
    filter: blur(0px) grayscale(0);
}

div.cardcontent{
    padding: 1em;
}

/* --- TABLE COSTS --- */

h1.budgetplan{
    margin-top: 3%;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

div.tablecontainer{
    display: flex;
    justify-content: center;
}

table.center{
    width: 60%;
    margin: auto;
    font-family: "Poppins", sans-serif;
    background-color: rgb(85, 99, 226);
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
    margin-bottom: 3%;
}
th {
    border-bottom: 2px solid #ffffff;
    color: yellow;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
    text-align: center;
}
td {
    border-right: solid 1px white;
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
    text-align: center;
}
tbody tr {
    transition: background 0.25s ease;
}
tbody tr:hover {
    background: darkblue;
}  

/* --- Events --- */

section.events{
    margin-bottom: 3%;
}
h1.festivals{
    margin-top: 3%;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

ul.list1{
    list-style-position: inside;
    display: table;
    text-align: left;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: blue;
    padding-bottom: 10px;
}

li span{
    color: black;
    text-decoration: underline;
}

/* --- Footer --- */

footer.footer{
    background-color:rgb(85, 99, 226);
    padding: 20px 20px;
    text-align: left;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 10;
}

div.footercontainer{
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
}

h2.contact{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
}
h2.follow{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
}
p.contact{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
}
p.moreinfo span{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-align: right;
    font-size: 15px;
    display: block;
}
div.right{
    text-align: right;
}

img.med1, img.med2, img.med3{
    width: 35px;
    height: 35px;
    margin-right: 3%;
    display: flex;
    float: left;
    transition: 300ms;
}
img.med1:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 15px yellow;
}
img.med2:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 15px yellow;
}
img.med3:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 15px yellow;
}

a.cialink{
    color: blue;
    
}
a.cialink:hover{
    color: yellow;
}

/* --- subpages--- */

body.locationbody{
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

main.location {
    width: 100%;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 3%;
}

header.placeheader{
    background-color: rgb(60, 114, 216);
    position: static;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    margin-top: -2em;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

img.backbutton{
    margin: 0.8em 2em;
    width: 40px;
    height: 40px;
    filter: invert(100);
    transition: 300ms;
}
img.backbutton:hover{
    transform: scale(1.4);
}

h1.headtitle{
    font-family: "Manrope", sans-serif;
    color: whitesmoke;
    font-size: 40px;
    margin: 0.8em 0.8em;
}

div.mainpic {
    width: 1520px;
    height: 400px;
    margin: 0px 0;
    overflow: hidden;
}

img.bgcmainpic{
    width: 100%;
    margin-top: -40%;
    margin-bottom: -30px;
}

img.elnidomainpic{
    width: 100%;
    margin-top: -20%;
    margin-bottom: -30px;
}
img.elnidomainpic{
    width: 100%;
    margin-top: -30%;
    margin-bottom: -30px;
}

p.placeinfo{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

h1.activities{
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 40px;
    margin-top: 3%;
    text-align: center;
}


img.pic1, img.pic2, img.pic3{
    width: 30%;
    border: dashed royalblue 10px;
    margin-top: 2%;
    margin-left: 35px;
    margin-bottom: 2%;
}

ol.bulletlist{
    margin: 10px 35px 10px 35px;
}

li.placelist{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

p.placedescription{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
}

/* ---- BREAKPOINT = 1246 PX----*/
@media only screen and (max-width:1246px){
    div.card{width: 30%; height: 320px;}
    p.slogan{font-size: 1.5em;}
    div.mainpic{width: 1246px;}
    p.placeinfo{font-size: 18px; margin-top: -25px;}
    h1.activities{font-size: 40px;}
}

/* ---- BREAKPOINT = 1130 PX----*/
@media only screen and (max-width:1130px){
    img.pic1, img.pic2, img.pic3{width: 29%;}
}

/* ---- BREAKPOINT = 911 PX----*/
@media only screen and (max-width:911px){
    div.card{width: 30%; height: 320px;}
    p.slogan{font-size: 1.5em;}
    h1.headtitle{font-size: 35px;}
    div.mainpic{width: 911px;}
    p.placeinfo{font-size: 15px; margin-top: -120px;}
    h1.activities{font-size: 35px;}
    img.pic1, img.pic2, img.pic3{width: 28%;}
    li.placelist{font-size: 18px;}
    p.placedescription{font-size: 14px;}
}

/* ---- BREAKPOINT = 768 PX----*/
@media only screen and (max-width:768px){
    a.tab1, a.tab2, a.tab3, a.tab4{font-size: 1em;}
    h1.philippines{font-size: 1.5em;}
    p.slogan{font-size: 1.2em;}
    h1.headtitle{font-size: 30px;}
    div.mainpic {width: 768px;}
    p.placeinfo{font-size: 15px; margin-top: -160px;}
    h1.activities{font-size: 30px;}
    img.pic1, img.pic2, img.pic3{width: 27%;}
    li.placelist{font-size: 16px;}
    p.placedescription{font-size: 12px;}

}

/* ---- BREAKPOINT = 595 PX----*/
@media only screen and (max-width:595px){
    img.pic1, img.pic2, img.pic3{width: 26%;}
}

/* ---- BREAKPOINT = 555 PX----*/
@media only screen and (max-width:555px){
    a.tab1, a.tab2, a.tab3, a.tab4{font-size: 0.8em;}
    h1.philippines{font-size: 1em;}
    p.slogan{font-size: 1em;}
    h1.headtitle{font-size: 20px;}
    div.mainpic {width: 555px;}
    p.placeinfo{font-size: 12px; margin-top: -220px;}
    h1.activities{font-size: 25px;}
    img.pic1, img.pic2, img.pic3{width: 24%;}
    li.placelist{font-size: 14px;}
    p.placedescription{font-size: 10px;}
}

/* ---- BREAKPOINT = 404 PX----*/
@media only screen and (max-width:404px){
    img.pic1, img.pic2, img.pic3{width: 15%;}
}




