h1.title{
    border-bottom: dotted gray 3px;
    text-align: center;
    padding-bottom: 1em;
    color: darkslateblue;
}
div.color1, div.color2, div.color3, div.color4, div.color5, div.color6{
    height: 200px;
    width: 200px;
    float: left;
}
div.color1{
    background-color: rgb(242, 80, 34);
}
div.color2{
    background-color: rgb(127, 186, 0);
}
div.color3{
    background-color: rgb(0, 164, 239);
}
div.color4{
    background-color: rgb(255, 185, 0);
}
section.rgbcolors, section.hexcolors{
    display: inline-block;
    width: 100%;
}
div.color5{
    background-color: #3355ff;
}
div.color6{
    background-color: #ff8095;
}
section.container{
    width: 80%;
    position: relative;
    margin: 2em auto;
}
img.img1{
    width: 100%;
}
p.intro{
    position: absolute;
    top: 30%;
    bottom: 30%;
    right: 10%;
    left: 10%;
    color: whitesmoke;
    background-color:rgba(0, 164, 239, 0.6);
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
    box-shadow: 2px 2px 10px white;
}
a.link{
    display: block;
    font-size: 0.6em;
    background-color: #da44a8;
    width: 30%;
    margin: auto;
    padding: 0.2em;
    margin-top: 1em;
    border-radius: 12px;
    color: white;
    text-decoration: none;
}
a.link:hover{
    background-color: #a70965;
    box-shadow: 0px 0px 10px 2px white;
}
img.img2{
    width: 100%;
}
h2.containertitle, p.par1, p.par2, p.par3{
    position: absolute;
    color: rgb(17, 31, 158);
}
h2.containertitle{
    text-align: center;
    top: 40%;
    left: 10%;
    right: 10%;
    font-size: 2.5em;
}
p.par1{
    top: 5%;
    left: 8%;
    font-size: 1.2em;
}
p.par2{
    bottom: 10%;
    right: 2%;
    font-size: 1.2em;
}
p.par3{
    top: 30%;
    right: 20%;
    font-size: 1.2em;
}
img.sepia1, img.sepia2, img.sepia3{
    width: 30%;
    margin: 1%;
}
img.sepia1{
    filter: sepia(10%);
}
img.sepia2{
    filter: sepia(60%);
}
img.sepia3{
    filter: sepia(100%);
}
img.blur1, img.blur2, img.blur3{
    width: 30%;
    margin: 1%;
}
img.blur1{
    filter: blur(1px);
}
img.blur2{
    filter: blur(5px);
}
img.blur3{
    filter: blur(10px);
}
img.invert1, img.invert2, img.invert3{
    width: 30%;
    margin: 1%;
}
img.invert1{
    filter: invert(10%);
}
img.invert2{
    filter: invert(60%);
}
img.invert3{
    filter: invert(100%);
}
/* ----- CLASS EXERCISE ----- */
section.container2{
    display: inline-block;
    width: 100%;
}
div.imgleft, div.imgmiddle, div.imgright{
    position: relative;
    width: 30%;
    margin: 1%;
    float: left;
}
img.containerimg1, img.containerimg2, img.containerimg3{
    width: 100%;
}
img.containerimg1{
    filter: invert(90%);
}
div.description1{
    position: absolute;
    bottom: 5%;
    left: 10%;
    right: 10%;
    background-color: rgba(241, 196, 15, 0.8);
    border: solid 2px #4c6bf3;
    padding: 0.9em;
    color: rgb(0, 0, 0);
}
p.dumbo{
    font-size: 1.3em;
    font-weight: bold;
}
p.par4{
    font-size: 0.9em;
}
img.containerimg2{
    filter: blur(4px);
}
div.description2{
    position: absolute;
    top: 38%;
    bottom: 38%;
    left: 15%;
    right: 15%;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    text-align: left;
    padding: 1em;
    box-shadow: 2px 2px 10px white;
    overflow: hidden;
}
p.london{
    font-size: 2em;
    font-weight: bold;
}
p.par5{
    font-size: 1.5em;
}
a.link2{
    display: block;
    font-size: 0.7em;
    background-color: #1885b1;
    width: 20%;
    padding: 0.5em;
    margin-top: 1.0em;
    border-radius: 20px;
    color: rgb(207, 207, 207);
    text-decoration: none;
    text-align: center;
}
a.link2:hover{
    background-color: #2333c4;
    box-shadow: 0px 0px 10px 2px white;
}
img.containerimg3{
    filter: sepia(90%);
}
p.paris, p.text1, p.text2, p.text3{
    position: absolute;
    color: white;
}
p.paris{
    font-size: 5em;
    font-weight: bold;
    top: 37%;
    left: 10%;
    right: 10%;
    text-align: center;
}
p.text1{
    top: 5%;
    right: 3%;
    font-size: 1.2em;
}
p.text2{
    bottom: 30%;
    left: 2%;
    font-size: 1.2em;
}
p.text3{
    bottom: 6%;
    right: 10%;
    font-size: 1.2em;
}
