@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {font-family: "Poppins", sans-serif; font-weight: 100; font-style: normal;}
.poppins-thin-italic {font-family: "Poppins", sans-serif; font-weight: 100; font-style: italic;}
.poppins-extralight {font-family: "Poppins", sans-serif; font-weight: 200; font-style: normal;}
.poppins-extralight-italic {font-family: "Poppins", sans-serif; font-weight: 200; font-style: italic;}
.poppins-light {font-family: "Poppins", sans-serif; font-weight: 300; font-style: normal;}
.poppins-light-italic {font-family: "Poppins", sans-serif; font-weight: 300; font-style: italic;}
.poppins-regular {font-family: "Poppins", sans-serif; font-weight: 400; font-style: normal;}
.poppins-regular-italic {font-family: "Poppins", sans-serif; font-weight: 400; font-style: italic;}
.poppins-medium {font-family: "Poppins", sans-serif; font-weight: 500; font-style: normal;}
.poppins-medium-italic {font-family: "Poppins", sans-serif; font-weight: 500; font-style: italic;}
.poppins-semibold {font-family: "Poppins", sans-serif; font-weight: 600; font-style: normal;}
.poppins-semibold-italic {font-family: "Poppins", sans-serif; font-weight: 600; font-style: italic;}
.poppins-bold {font-family: "Poppins", sans-serif; font-weight: 700; font-style: normal;}
.poppins-bold-italic {font-family: "Poppins", sans-serif; font-weight: 700; font-style: italic;}
.poppins-extrabold {font-family: "Poppins", sans-serif; font-weight: 800; font-style: normal;}
.poppins-extrabold-italic {font-family: "Poppins", sans-serif; font-weight: 800; font-style: italic;}
.poppins-black {font-family: "Poppins", sans-serif; font-weight: 900; font-style: normal;}
.poppins-black-italic {font-family: "Poppins", sans-serif; font-weight: 900; font-style: italic;}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html{ /* background-color: var(--primarydark); */ scroll-behavior: smooth; }

:root{
    --primarylight: #5072a7;
    --primarycolor: #206ada;
    --primarydark: #004170;
}

body {
    font-family: "Poppins", sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
}

/* SCROLLSPY YOUTUBE TUT */
.section {
    width: 100%;
    height: 100%; /* should be 100vh (TESTING) */
    display: flex;
    color: black;
}
.section:nth-child(odd) {
    background-color: rgb(150,180, 230);
}
.section:nth-child(even) {
    background-color: white;
}

/* for navbar background color */
.bg {
    background-color: var(--primarydark);
}

@media(max-width:767px) {
    .ul-bg {
        background-color: var(--primarylight);
    }
}
.navbar-toggler:focus {
    box-shadow: none;
}

/* ---------------------------- */

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}


/* ROW FLEX */
.row-flex {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 50px;
    margin-top: 0;
    color: var(--primarydark);
}

/* BUTTONS */

a.btn-custom {
    background-color: var(--primarydark);
    color: white;
}

a.btn-custom:hover {
    background-color: var(--primarycolor);
    color: white;
}

a.btn-custom1 {
    background-color: var(--primarycolor);
    color: white;
}

a.btn-custom1:hover {
    background-color: var(--primarydark);
    color: white;
}

/* ------------ */

span.underlinefx {
    position: relative;
    cursor: pointer;
}

span.underlinefx::after {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: var(--primarycolor);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
span.underlinefx:hover::after {
    transform: scaleX(1);
}

/* image hover overlay slide - bottom to top */

div.imgcontainer {
    position: relative;
}

div.image {
    display: block;
    width: 100%;
    height: auto;
}

div.overlay {
    position: absolute;
    border-radius: 60px 60px 60px 60px;
    bottom: 48px;
    left: 3%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 94%;
    height: 0px;
    transition: .5s ease;
}

.imgcontainer:hover .overlay {
    height: 90%;
}

h2.textoverlay {
    width: 100%;
    margin-top: 10%;
    color: white;
    font-size: 4vw;
    position: absolute;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transform: rotate(-5deg)skewX(-5deg);
}

/* WORK EXPERIENCE SECTION */



/* vertical spacing between columns */


/* CARDS */

div.card {
    border: 0.2px solid var(--primarycolor);
    transition: 600ms;
}

div.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 15px 10px #206ada;
}

a.card-link {
    text-decoration: none;
    color: dimgray;
    font-weight: normal;
    transition: 600ms;
}

a.card-link:hover {
    text-decoration: underline;
    font-weight: 600;
    color: var(--primarycolor);
}

.modal-style1 {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

/* */

.newcard {
    width: 350px;
    height: 250px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms; 
}

.newcard:hover {
    transform: translateY(-2px);
    box-shadow: 10px 15px 10px #206ada;
}

.newcard-img {
    width: 100%;
    height: 100%;
    filter: blur(2px);
    object-fit: cover;
}

.card-img-overlay {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 30px 20px 20px 20px;
    height: auto;
    top: 30%;
    bottom: 0;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));   
}

