*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
:root{
    --primarycolor: rgb(4,111,227);
    --primarylight: rgb(132, 178, 228);
    --primarydark:  rgb(4, 89, 180);   
}
nav.navbar{
    background-color: var(--primarylight);
    text-align: center;
    padding: 1em;
}
div.offcanvas-body ul li {
    list-style: none;
    margin-bottom: 30px; 
}
div.offcanvas-body ul li {
    list-style: none;
    margin-bottom: 30px; 
}
div.offcanvas-body ul li:last-child {
    margin-bottom: 0;
}
div.offcanvas-body ul li a {
    text-align: center;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 15px;
    font-weight: normal;
    transition: 300ms;
}
div.offcanvas-body ul li a:hover {
    font-weight: bold;
    transform: scale(1.2);
    color: var(--primarycolor);
}
div.carousel-inner{
    margin-top: -4%;
}
h2.carousel-caption1 {
   color:var(--primarylight);  
}
p.carousel-caption2 {
    color: white;  
}
div.desc1{
    padding-top: 5%;
}
div.desc2{
    padding-top: 10%;
}
div.desc3{
    padding-top: 8%;
}
p.campaigntitle{
    color: var(--primarycolor);
}
img.gmcampaign {
    transition: 300ms;
}
img.gmcampaign:hover {
    transform: scale(1.05);
}
a.custom-btn {
    margin-bottom: 5%;
    background-color: var(--primarydark);
    color: var(--primarycolor);
}
a.custom-btn:hover {
    background-color: var(--primarycolor);
    color: var(--primarydark);
}
p.card-title{
    text-align: center;
    margin-top: 3%;
}
p.card-text{
    text-align: center;
}
div.card-footer{
    margin-top: 7%;
}
img.logo{
    color: green;
}
h1.sectitle{
    color: var(--primarydark);
}
button.subscribe {
    background-color: var(--primarydark);
    color: white;
}
button.subscribe:hover {
    background-color: var(--primarycolor);
    color: white;
}